PORT=3000

DATABASE_URL="mysql://root:YOUR_PASSWORD@mysql:3306/lena_reserva"

JWT_SECRET=YOUR_JWT_SECRET
JWT_EXPIRES_IN=1h

REFRESH_SECRET=YOUR_REFRESH_SECRET
REFRESH_TOKEN_EXPIRES=7d

REDIS_HOST=redis
REDIS_PORT=6379

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=YOUR_SMTP_USER
SMTP_PASS=YOUR_SMTP_PASSWORD

SMTP_FROM=Leña Reserva <YOUR_EMAIL>

GEMINI_API_KEY=YOUR_GEMINI_API_KEY