# Dependencias
node_modules/

# Compilación
dist/
build/

# Variables de entorno y secretos
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Cobertura
coverage/

# Archivos temporales
.tmp/
temp/
.cache/

# Editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos locales
POST/